.navbar {
  height: 75px;
  width: auto;
  color: black;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-family: cursive;
  color: black;
  text-shadow: 2px 2px gray, 0 0 0.2em silver;
}

.textLink {
    color: inherit;
    text-decoration: none;
}

.imageHolder {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.frontPageImage {
    height: 65vh;
    width:  auto;
}
.frontPageText {
  font-size: 30px;
  font-family: cursive;
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: center;
}

.musicPageBackground {
    background-image: url('../images/brad_couch.jpg');
    height: auto;
    width: auto;
    background-size: 20vh;
    background-repeat: repeat;
    padding: 50px;
}

.videoPageBackground {
    background-image: url('../images/video_background.jpg');
    height: 100vh;
    width: auto;
    background-size: 50vh;
    background-repeat: repeat;
    padding: 50px;
}

.storyPageBackground {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}

.storyPageImage {
    height: auto;
    width: 100vw;
}

.storyPageText {
  height: inherit;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #d4af37;
  font-size: larger;
  margin-left: 10px;
  vertical-align: middle;
  text-shadow: 2px 2px 2px black, 0 0 1em blue, 0 0 0.2em red;
}

.spotifyLinkList {
  list-style-type: none;
  justify-content: center;
  display: flex;
  display: flex;
  height: inherit;
  width: inherit;
}
.musicContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.iframe {
  height: 40vh;
  width: auto;
  frameborder: 10;
  allowtransparency: True;
  allow: "encrypted-media"
}

.iframe_araby {
  height: 40vh;
  width: auto;
  frameborder: 10;
  allowtransparency: True;
  allow: "encrypted-media"
}

.iframe_video {
  height: 80vh;
  width: 80vw;
}
.videoHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.logo {
  height: 4vh;
  border-radius: 50%
}

.logoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoListItem {
  padding: 10px;
}

.footer {
  position: relative;
  left:0;
  bottom:0;
  right:0;
}
