.navbar {
  height: 75px;
  width: auto;
  color: black;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-family: cursive;
  color: black;
}

.textLink {
    color: inherit;
    text-decoration: none;
}

.imageHolder {
  justify-content: center;
  display: flex;
}
.frontPageImage {
    height: 500px;
    width: auto;
}
.frontPageText {
  font-size: 30px;
  font-family: cursive;
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: center;
}

.musicPageBackground {
    background-image: url('../images/brad_couch.jpg');
    height: inherit;
    width: inherit;
    background-size: 300px;
    background-repeat: repeat;
    padding: 50px;
}

.spotifyLinkList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%
}

.logoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoListItem {
  float: left;
  padding: 10px;
}

.footer {
  position: relative;
  background: none;
  left:0;
  bottom:0;
  right:0;
}
